.root_container{
    height: 550px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.background_video{
    min-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.hero_text{
    color: white;
}

.hero_text h4{
    font-size: 50px;
}

.hero_text p{
    font-size: 30px;
}