.root_container{
}

.nav_container{
    box-shadow: none !important;
}

.navbar{
    background-color:#42C2FF;
    height: 100px;
}

.navbar .logo_text{
    flex: 1;
}

.nav_items a{
    text-decoration: none;
    color: white;
    padding:10px 30px;
    transition: 0.3s ease;
    border-radius: 5px;
}

.nav_items a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 254, 254);
   
}

@media  screen and (max-width: 770px) {
    .mobile_nav{
        height: auto;
        width: 50%;
        position: absolute;
        right: 0;
        background-color: rgb(142, 201, 241);
        color: white;
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        opacity: 0.5;
        z-index: 100;
    }

    .hideMobileNav{
       display: none;
    }

    .showMobileNav{
        display: flex;
    }
}